{% layout 'theme.password' %}
<div class="grid">
	<div class="grid__item grid__item large--two-thirds push--large--one-sixth">
		<img id="primary-logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
		<div class="social-links">
		<a href="https://www.facebook.com/pelicoxyz"><span class="icon icon-facebook" aria-hidden="true"></span></a>
		<a href="https://twitter.com/PelicoBristol"><span class="icon icon-twitter"></span></a>
		<a href="https://www.instagram.com/pelico.bristol/"><span class="icon icon-instagram"></span></a>
		</div>
		{% unless shop.password_message == blank %}
		<div class="drinks">
			{{ shop.password_message }}
		</div>
		{% endunless %}
		<div class="interest-form-wrap">
			<form action="//pelicobristol.us12.list-manage.com/subscribe/post?u=5518718298dbed91d6c3d640c&amp;id=4481f89194" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
			  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
			  <span class="input-group-btn">
			    <input type="submit" class="btn" name="subscribe" id="subscribe" value="Notify me">
			  </span>
			</form>
		</div>
	</div>
</div>



<div class="visually-hidden">
{% form 'storefront_password' %}

{{ form.errors | default_errors }}

<label for="password">VIP Access</label><br>
<input type="password" name="password" placeholder="Password">
<input type="submit" value="Enter" class="btn btn-white">

{% endform %}
</div>
